<!-- Brand Logo -->
<a href="../dashboard/index.html" class="brand-link"> <img
        id="sidebar-logo"
        th:src="@{/resources/images/ArageDashboardLogo.png}" alt="">
</a>


<div class="sidebar custom-sidebar d-flex flex-column justify-content-between"
     style="height: calc(100vh - 80px);">

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column"
            data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
            <li class="nav-item" sec:authorize="hasRole('ADMIN') "><a
                    href="#" class="nav-link"> <i class="nav-icon fas fa-chart-pie"></i>
                <p>
                    User Creation <i class="right fas fa-angle-left"></i>
                </p>
            </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item"><a th:href="@{/user/UserCreation}"
                                            class="nav-link"> <i class="far fa-circle nav-icon"></i>
                        <p>Add</p>
                    </a></li>
                    <li class="nav-item"><a th:href="@{/user/usersList}"
                                            class="nav-link"> <i class="far fa-circle nav-icon"></i>
                        <p>List</p>
                    </a></li>
                    <li class="nav-item"><a th:href="@{/user/bulkUserCreation}"
                                            class="nav-link"> <i class="far fa-circle nav-icon"></i>
                        <p>Bulk User Creation</p>
                    </a></li>
                </ul></li>
            <li class="nav-item" sec:authorize="hasRole('ADMIN')"><a
                    th:href="@{/syncMaster}" class="nav-link"> <i
                    class="nav-icon fas fa-th"></i>
                <p>Sync Master Data</p>
            </a></li>
            <li class="nav-item" sec:authorize="hasRole('ADMIN')"><a
                    th:href="@{/prValidation}" class="nav-link"> <i
                    class="nav-icon fas fa-th"></i>
                <p>PR Validation Master Data</p>
            </a></li>
            <!--  <li class="nav-item" sec:authorize="hasRole('ADMIN')"><a
                      th:href="@{/syncPurGrp/save}" class="nav-link"> <i
                      class="nav-icon fas fa-th"></i>
                  <p>Sync Purcahse group</p>
              </a></li>
          -->	<li class="nav-item" sec:authorize="hasRole('ADMIN')"><a
                th:href="@{/jobs}" class="nav-link"> <i
                class="nav-icon fas fa-th"></i>
            <p>Background Jobs</p>
        </a></li>

            <li class="nav-item"
                sec:authorize="hasAnyRole('ROLE_REQ_CR') or hasAuthority('ROLE_BUYER')">
                <a href="#" class="nav-link"> <!-- <i class="nav-icon fas fa-chart-pie"></i> -->
                    <i class="nav-icon fas fa-shopping-cart"></i>
                    <p>
                        Purchase Requisition <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item" sec:authorize="hasAnyRole('ROLE_REQ_CR') or hasAuthority('ROLE_BUYER')"><a
                            th:href="@{/prCreate/add}" class="nav-link"> <i
                            class="far fas fa-plus nav-icon"></i>
                        <p>Create PR</p>
                    </a></li>
                    <li class="nav-item" sec:authorize="hasAnyRole('ROLE_REQ_CR') or hasAuthority('ROLE_BUYER')"><a
                            th:href="@{/prCreate/addService}" class="nav-link"> <i
                            class="far fas fa-plus nav-icon"></i>
                        <p>Create Service PR</p>
                    </a></li>
                    <li class="nav-item"><a th:href="@{/prCreate/list}"
                                            class="nav-link"> <i class="fas fa-list nav-icon"></i>
                        <p>PR List</p>
                    </a></li>
                    <li class="nav-item"><a th:href="@{/pending/last15days}"
                                            class="nav-link"> <i class="nav-icon fas fa-sync-alt"></i>
                        <p>&nbsp;PR Status Sync</p>
                    </a></li>


                </ul>
            </li>
            <li class="nav-item"
                sec:authorize="(hasRole('ROLE_REQ_CR')) ">
                <a href="#" class="nav-link"> <!-- <i class="nav-icon fas fa-chart-pie"></i> -->
                    <i class="nav-icon fas fa-file-invoice"></i>
                    <p>
                        Service Entry <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item"><a th:href="@{/ses/sync}"
                                            class="nav-link"> <i class="nav-icon fas fa-sync-alt"></i>
                        <p>Service Entry Sync</p>
                    </a></li>
                    <li class="nav-item"><a th:href="@{/ses/list}"
                                            class="nav-link"> <i class="fas fa-list nav-icon"></i>
                        <p>Service Entry List</p>
                    </a></li>
                </ul>
            </li>
            <li class="nav-item"
                sec:authorize="(hasRole('ROLE_REQ_CR')) ">
                <a href="#" class="nav-link"> <!-- <i class="nav-icon fas fa-chart-pie"></i> -->
                    <i class="nav-icon fas fa-box-open"></i>
                    <p>
                        Reservation <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">

                    <li class="nav-item"><a th:href="@{/reservation/createReservation}"
                                            class="nav-link"> <i
                            class="far fas fa-plus nav-icon"></i>
                        <p>Create Reservation</p>
                    </a></li>
                    <li class="nav-item"><a th:href="@{/reservation/list}"
                                            class="nav-link"> <i class="fas fa-list nav-icon"></i>
                        <p>Reservation List</p>
                    </a></li>

                </ul>
            </li>

            <!-- Vendor Registration - legacy ezHeader.jsp v_UserType==2 branch (invite/manage vendors).
                 Buyer-only: vendors don't register other vendors. Links point at routes not built yet. -->
            <li class="nav-item" sec:authorize="hasAuthority('ROLE_BUYER')">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-user-plus"></i>
                    <p>
                        Vendor Registration <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item"><a th:href="@{/vendorReg/invite}"
                                            class="nav-link"> <i class="far fas fa-plus nav-icon"></i>
                        <p>Invite Vendor</p>
                    </a></li>
                    <li class="nav-item"><a th:href="@{/vendorReg/new}"
                                            class="nav-link"> <i class="far fa-circle nav-icon"></i>
                        <p>New</p>
                    </a></li>
                    <li class="nav-item"><a th:href="@{/vendorReg/list}"
                                            class="nav-link"> <i class="fas fa-list nav-icon"></i>
                        <p>List</p>
                    </a></li>
                </ul>
            </li>

            <!-- RFQ - legacy ezHeader.jsp rfqs_L block. Buyer creates/manages; vendor responds via
                 the shared List link (controller branches by role once built). -->
            <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_BUYER','ROLE_VEND_SAP','ROLE_VEND_TEMP')">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-file-alt"></i>
                    <p>
                        RFQ <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item" sec:authorize="hasAuthority('ROLE_BUYER')"><a
                            th:href="@{/rfq/createFromPr}" class="nav-link"> <i
                            class="far fas fa-plus nav-icon"></i>
                        <p>Create From PR</p>
                    </a></li>
                    <li class="nav-item" sec:authorize="hasAuthority('ROLE_BUYER')"><a
                            th:href="@{/rfq/createFromMaterial}" class="nav-link"> <i
                            class="far fas fa-plus nav-icon"></i>
                        <p>Create From Material</p>
                    </a></li>
                    <li class="nav-item"><a th:href="@{/rfq/list}"
                                            class="nav-link"> <i class="fas fa-list nav-icon"></i>
                        <p>RFQ List</p>
                    </a></li>
                </ul>
            </li>

            <!-- QCF - legacy ezHeader.jsp qcfs_L block. Buyer reviews/reports; vendor submits. -->
            <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_BUYER','ROLE_VEND_SAP','ROLE_VEND_TEMP')">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-file-invoice-dollar"></i>
                    <p>
                        QCF <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item"><a th:href="@{/qcf/list}"
                                            class="nav-link"> <i class="fas fa-list nav-icon"></i>
                        <p>QCF List</p>
                    </a></li>
                    <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_VEND_SAP','ROLE_VEND_TEMP')"><a
                            th:href="@{/qcf/submit}" class="nav-link"> <i
                            class="far fas fa-plus nav-icon"></i>
                        <p>Submit QCF</p>
                    </a></li>
                    <li class="nav-item" sec:authorize="hasAuthority('ROLE_BUYER')"><a
                            th:href="@{/qcf/toAct}" class="nav-link"> <i
                            class="fas fa-tasks nav-icon"></i>
                        <p>To Act</p>
                    </a></li>
                    <li class="nav-item" sec:authorize="hasAuthority('ROLE_BUYER')"><a
                            th:href="@{/qcf/prPoReport}" class="nav-link"> <i
                            class="fas fa-chart-bar nav-icon"></i>
                        <p>PR/PO Report</p>
                    </a></li>
                </ul>
            </li>

            <!--			<li class="nav-item"-->
            <!--				sec:authorize="(hasRole('ROLE_VEND') and hasAuthority('PPAP')) or-->
            <!--			   (!hasRole('ROLE_VEND') and hasAnyRole('ROLE_CPT','ROLE_OS_TECH_CEAT','ROLE_OS_OP_CEAT',-->
            <!--			   'ROLE_CP_QT','ROLE_CP_TT','ROLE_OS_QA_VEND','ROLE_OS_CQA_CEAT','ROLE_OS_QA_CEAT','ROLE_OS_HOS_CEAT'))">-->
            <!--				<a href="#" class="nav-link"> &lt;!&ndash; <i class="nav-icon fas fa-chart-pie"></i> &ndash;&gt;-->
            <!--					<i class="nav-icon fas fa-solid fa-people-arrows"></i>-->
            <!--					<p>-->
            <!--						PPAP <i class="right fas fa-angle-left"></i>-->
            <!--					</p>-->
            <!--			</a>-->
            <!--				<ul class="nav nav-treeview">-->
            <!--					<li class="nav-item"-->
            <!--						sec:authorize="hasAnyRole('ROLE_CPT','ROLE_OS_OP_CEAT')"><a-->
            <!--						th:href="@{/ppap/createReq}" class="nav-link"> <i-->
            <!--							class="far fas fa-plus nav-icon"></i>-->
            <!--							<p>Initiate Request</p>-->
            <!--					</a></li>-->
            <!--					<li class="nav-item"><a th:href="@{/ppap/docList}"-->
            <!--						class="nav-link"> <i class="fas fa-list nav-icon"></i>-->
            <!--							<p>List</p>-->
            <!--					</a></li>-->
            <!--				</ul>-->
            <!--			</li>-->
            <!--			<li class="nav-item"-->
            <!--				sec:authorize="(hasRole('ROLE_VEND') and hasAuthority('QMIS'))  or-->
            <!--               (!hasRole('ROLE_VEND') and hasAnyRole('CPTTEAM', 'ROLE_CPT','ROLE_OS_TECH_CEAT','ROLE_OS_OP_CEAT',-->
            <!--               'ROLE_CP_QT','ROLE_CP_TT','ROLE_OS_QA_VEND','ROLE_OS_CQA_CEAT','ROLE_OS_QA_CEAT','ROLE_OS_HOS_CEAT'))">-->
            <!--				<a href="#" class="nav-link"> <i-->
            <!--					class="nav-icon fas fa-chart-pie"></i>-->
            <!--					<p>-->
            <!--						QMIS <i class="right fas fa-angle-left"></i>-->
            <!--					</p>-->
            <!--			</a>-->
            </li>


            <!--			<li class="nav-item"-->
            <!--				sec:authorize="(hasRole('ROLE_VEND') and hasAuthority('EHS')) or-->
            <!--			   (!hasRole('ROLE_VEND') and hasAnyRole( 'EHS_ADMIN'))">-->
            <!--				<a href="#" class="nav-link">-->
            <!--					<i class="nav-icon fas fa-chart-pie"></i>-->
            <!--					<p>-->
            <!--						EHS <i class="right fas fa-angle-left"></i>-->
            <!--					</p>-->
            <!--				</a>-->
            <!--			-->
            <!--			-->
            <!--			    <ul class="nav nav-treeview"-->
            <!--					sec:authorize="hasAnyRole('ROLE_VEND', 'EHS_ADMIN')">-->
            <!--					&lt;!&ndash; Create &ndash;&gt;-->

            <!--					<li class="nav-item"><a-->
            <!--						th:href="@{/ehs/monthlyPerformanceReport}" class="nav-link"> <i-->
            <!--							class="far fa-circle nav-icon"></i>-->
            <!--							<p>Monthly Report</p>-->
            <!--					</a></li>-->
            <!--				</ul>-->
            <!--			    -->

            <!--				<ul class="nav nav-treeview" sec:authorize="hasAnyRole('ROLE_VEND')">-->
            <!--					&lt;!&ndash; Create &ndash;&gt;-->

            <!--					<li class="nav-item"><a th:href="@{/ehs/reports}"-->
            <!--						class="nav-link"> <i class="far fa-circle nav-icon"></i>-->
            <!--							<p>EHS Observation</p>-->
            <!--					</a></li>-->

            <!--				</ul>-->

            <!--				<ul class="nav nav-treeview"-->
            <!--					sec:authorize="hasAnyRole('ROLE_VEND', 'EHS_ADMIN')">-->
            <!--					&lt;!&ndash; Create &ndash;&gt;-->

            <!--					<li class="nav-item"><a th:href="@{/ehs/list}"-->
            <!--						class="nav-link"> <i class="far fa-circle nav-icon"></i>-->
            <!--							<p>Observation List</p>-->
            <!--					</a></li>-->
            <!--				</ul>-->
            <!--				-->
            <!--						-->
            <!--				<ul class="nav nav-treeview" sec:authorize="hasAnyRole('EHS_ADMIN')">-->

            <!--					<li class="nav-item"><a th:href="@{/ehs/ActionResponse}"-->
            <!--						class="nav-link"> <i class="far fa-circle nav-icon"></i>-->
            <!--							<p>Action Table</p>-->
            <!--					</a></li>-->
            <!--				</ul>-->

            <!--				<ul class="nav nav-treeview" sec:authorize="hasAnyRole('EHS_ADMIN','ROLE_VEND')">-->

            <!--					<li class="nav-item"><a th:href="@{/ehs/ehsDashboard}"-->
            <!--						class="nav-link"> <i class="far fa-circle nav-icon"></i>-->
            <!--							<p>EHS Dashboard</p>-->
            <!--					</a></li>-->
            <!--				</ul>-->

            <!--				-->

            <!--					<ul class="nav nav-treeview"-->
            <!--						sec:authorize="hasAnyRole('ROLE_VEND')">-->


            <!--						<li class="nav-item"><a-->
            <!--							th:href="@{'/ehs-compliance/conscent-form/'+ ${#authentication.principal.vendorCode}}"-->
            <!--							class="nav-link"> <i class="far fa-circle nav-icon"></i>-->
            <!--								<p>Compliance List</p>-->
            <!--						</a></li>-->
            <!--					</ul>-->
            <!--					-->
            <!--					<ul class="nav nav-treeview"-->
            <!--						sec:authorize="hasAnyRole('ROLE_VEND')">-->

            <!--						<li class="nav-item"><a-->
            <!--							th:href="@{'/ehs/requirements/'+ ${#authentication.principal.vendorCode}}"-->
            <!--							class="nav-link"> <i class="far fa-circle nav-icon"></i>-->
            <!--								<p>Statutory Compliance</p>-->
            <!--						</a></li>-->
            <!--					</ul>-->
            <!--					-->
            <!--					<ul class="nav nav-treeview" sec:authorize="hasRole('EHS_ADMIN')">-->
            <!--						&lt;!&ndash; Create &ndash;&gt;-->

            <!--						<li class="nav-item"><a-->
            <!--							th:href="@{/ehs/statutory-matrix}" class="nav-link"> <i-->
            <!--								class="far fa-circle nav-icon"></i>-->
            <!--								<p>Statutory Matrix</p>-->
            <!--						</a></li>-->

            <!--					</ul>-->

            <!--					<ul class="nav nav-treeview" sec:authorize="hasRole('EHS_ADMIN')">-->
            <!--						&lt;!&ndash; Create &ndash;&gt;-->

            <!--						<li class="nav-item"><a-->
            <!--							th:href="@{/ehs-compliance/vendor-list}" class="nav-link"> <i-->
            <!--								class="far fa-circle nav-icon"></i>-->
            <!--								<p>Compliance Action</p>-->
            <!--						</a></li>-->

            <!--					</ul></li>-->
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
    <div
            style="display: flex; justify-content: space-between; align-items: flex-end; bottom: 0;">
    </div>

    <script th:inline="javascript">
        document.addEventListener('DOMContentLoaded', function() {
            const logoImg = document.getElementById('sidebar-logo');
            const body = document.querySelector('body');

            // Function to update logo based on sidebar state
            function updateLogo() {
                if (body.classList.contains('sidebar-collapse')) {
                    // Sidebar is collapsed - show small logo
                    logoImg.setAttribute('src', /*[[@{/resources/images/AragenSmall.png}]]*/ '/resources/images/AragenSmall.png');
                    logoImg.style.width = '50px';
                } else {
                    // Sidebar is expanded - show full logo
                    logoImg.setAttribute('src', /*[[@{/resources/images/ArageDashboardLogo.png}]]*/ '/resources/images/ArageDashboardLogo.png');
                    logoImg.style.width = 'auto';
                }
            }

            // Initial check
            updateLogo();

            // Watch for sidebar state changes
            const observer = new MutationObserver(function(mutations) {
                mutations.forEach(function(mutation) {
                    if (mutation.attributeName === 'class') {
                        updateLogo();
                    }
                });
            });

            observer.observe(body, { attributes: true });
        });
    </script>
</div>


<!-- /.sidebar -->
<!--</body>-->